# Ignorar archivos de Python
__pycache__/
*.py[cod]

# Ignorar entornos virtuales
venv/
env/

# Ignorar archivos de configuración de PyCharm
.idea/
*.iml

# Ignorar archivos de configuración de IDE
.vscode/

# Ignorar archivos de logs
*.log

# Ignorar archivos de entorno
*.env

# Ignorar archivos de caché
*.pyo
*.pyd