/* styles.css */

title {
    display:none;
}
/* Establecer un estilo básico para el body */
body {
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; /* Asegurarse de que ocupe toda la altura de la ventana */
    font-family: var(--tipo-principal); /* Usar la tipografía definida en el reset */
    color: var(--main-font-color); /* Usar el color definido en el reset */
    background-color: #ffffff; /* Color de fondo */
    padding: 1em; /* Espacio alrededor del contenido */
}

/* Estilo para el contenedor */
.container {
    display: grid; /* Activar el grid */
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 1em; /* Espacio entre los elementos */
    text-align: center; /* Centrar el texto dentro del contenedor */
    max-width: 600px; /* Ancho máximo del contenedor */
    width: 100%; /* Ancho completo en pantallas pequeñas */
}

/* Estilo para el encabezado */
h1 {
    margin-bottom: 1em; /* Espacio debajo del encabezado */
    font-size: 2.5em;

}

/* Estilo para el formulario */
form {
    display: flex; /* Usar flexbox para el formulario */
    flex-direction: column; /* Alinear los elementos en columna */
    align-items: center; /* Centrar horizontalmente */
}

/* Estilo para los inputs y botones */
input[type="file"], button {
    margin: 10px 0; /* Espacio entre los elementos */
    padding: 10px; /* Espacio interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 1em; /* Tamaño de fuente relativo */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    width: 100%; /* Ancho completo */
}

/* Estilo para el botón */
button {
    background-color: var(--main-font-color); /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

/* Efecto hover para el botón */
button:hover {
    background-color: #555; /* Color de fondo al pasar el mouse */
}

#editor {
    width: 100%;
    height: 8em;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 600px) {
    h1 {
        font-size: 2em; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    .container {
        padding: 1em; /* Espacio alrededor del contenedor */
    }
}