/* styles.css */

title {
    display:none;
}
/* Establecer un estilo básico para el body */
body {
    display: flex; /* Usar flexbox para centrar el contenido */
    flex-direction: column; /* Apilar elementos verticalmente */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    min-height: 100vh; /* Asegurarse de que ocupe toda la altura de la ventana */
    font-family: var(--tipo-principal); /* Usar la tipografía definida en el reset */
    color: var(--main-font-color); /* Usar el color definido en el reset */
    background-color: #ffffff; /* Color de fondo */
    padding: 0; /* Sin espacio alrededor del contenido */
    margin: 0; /* Sin margen por defecto */
}

header {
    display: flex; /* Usar flexbox para organizar los elementos */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Asegúrate de que el header ocupe to do el ancho */
    background-color: #f8f9fa; /* Color de fondo */
    padding: 10px; /* Espacio interno */
    border-bottom: 1px solid #ccc; /* Borde inferior */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.language-selector {
    margin-left: auto; /* Empuja el selector de idiomas al extremo derecho */
}

.language-selector label {
    margin-right: 5px; /* Espacio entre la etiqueta y el selector */
}

.toggle-switch {
    position: relative;
    width: 100px;
    height: 3em;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 3em;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Estilo para el contenedor */
.container {
    display: grid; /* Activar el grid */
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 1em; /* Espacio entre los elementos */
    text-align: center; /* Centrar el texto dentro del contenedor */
    max-width: 600px; /* Ancho máximo del contenedor */
    width: 100%; /* Ancho completo en pantallas pequeñas */
    flex: 1; /* Permitir que el contenedor crezca y ocupe el espacio disponible */
    padding: 1em; /* Espacio interno para el contenedor */
}

/* Estilo para el encabezado */
h1 {
    margin-top: 1em;
    margin-bottom: 1em; /* Espacio debajo del encabezado */
    font-size: 2.5em;

}

/* Estilo para el formulario */
form {
    display: flex; /* Usar flexbox para el formulario */
    flex-direction: column; /* Alinear los elementos en columna */
    align-items: center; /* Centrar horizontalmente */
}

/* Estilo para los inputs y botones */
input[type="file"], button {
    margin: 10px 0; /* Espacio entre los elementos */
    padding: 10px; /* Espacio interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 1em; /* Tamaño de fuente relativo */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    width: 100%; /* Ancho completo */
}

/* Estilo para el label que actúa como botón de carga */
.file-upload-label {
    display: inline-block; /* Permitir que el label se comporte como un botón */
    padding: 1em 1.5em; /* Espacio interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    background-color: var(--main-font-color); /* Color de fondo */
    color: #ffffff; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

.file-upload-label:hover {
    background-color: #555; /* Color de fondo al pasar el mouse */
}

/* Estilo para el botón */
button {
    background-color: var(--main-font-color); /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

/* Efecto hover para el botón */
button:hover {
    background-color: #555; /* Color de fondo al pasar el mouse */
}

#editor {
    width: 100%;
    height: 200px; /* Altura fija */
    resize: vertical; /* Permitir que el usuario ajuste la altura */
}

/* Estilo para el footer */
footer {
    width: 100%; /* Asegúrate de que el footer ocupe to do el ancho */
    background-color: #f8f9fa; /* Color de fondo */
    text-align: center; /* Centrar el texto */
    padding: 10px; /* Espacio interno */
    border-top: 1px solid #ccc; /* Borde superior */
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 600px) {
    h1 {
        font-size: 2em; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    .container {
        padding: 1em; /* Espacio alrededor del contenedor */
    }
}