<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Index</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header>
    <!--TODO termina el boton para cambiar a modo obscuro-->
    <div class="toggle-switch">
        <label class="switch-label">
            <input type="checkbox" class="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="language-selector">
        <label for="language">Idioma:</label>
        <select id="language" name="language">
            <option value="es">Español</option>
            <option value="en">Inglés</option>
            <!-- Agrega más idiomas según sea necesario -->
        </select>
    </div>
</header>
<div class="container">
    <h1>Sube una imagen para OCR</h1>
    <form action="/ocr" method="post" enctype="multipart/form-data">
        <input type="file" id="file-upload" name="image" accept="image/*" required style="display: none;">
        <label for="file-upload" class="file-upload-label">Seleccionar archivo</label>
        <button type="submit">Subir</button>
    </form>

    {% if extracted_text %}
    <div>
        <h2>Texto Extraído:</h2>
        <textarea id="editor" name="edited_text" placeholder="Edita el texto aquí...">{{ extracted_text }}</textarea>
        <form action="/download" method="get"> <!-- Cambiar a method="get" -->
            <input type="hidden" name="edited_text" value="{{ extracted_text }}">
            <button type="submit">Descargar Texto</button>
        </form>
    </div>
    {% endif %}
</div>
<footer>
    <p>Este es solo un proyecto de prueba para mostrar en mi portafolio.</p>
</footer>
</body>
</html>